/* this page is currently being injected into *all* web pages */

/* just to show that the injection is working */
/*
p {
    background-color: blueviolet;
}
*/

html, body {
    /* why height auto instead of 100% for html and body:
    https://stackoverflow.com/questions/15943009/difference-between-css-height-100-vs-height-auto
    https://stackoverflow.com/questions/31765879/flexbox-parent-container-not-growing-along-with-its-children-content-inside-is
    https://stackoverflow.com/questions/38170964/height-100-when-parent-height-is-auto
    100% prevents growing along with children
    */ 
    height: auto;       
    width: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.05);
}

h1, .title {
    font-family: Palatino, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.33em;
    line-height: 1.5em;
    display: block;
}

p {
    font-size: 16px;
    line-height: 1.5em;
}

img {
    max-width: fit-content;
}

.article {
    /* position absolute breaks the flexbox centering */
    display: flex;
    flex-flow: column nowrap;
    font-family: Georgia, Times, "Times New Roman", serif;
    position: relative;
    height: auto;
    width: auto;
    padding-right: 8px;
    box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.2);    /* from apple style */
    padding: 20px 30px 20px 30px;
    background-color: rgba(255, 255, 255);
}

.content {
    /*  why not to use display:flex here: https://stackoverflow.com/questions/27418104/difference-between-displayinline-flex-and-displayflex */
    /* https://www.w3schools.com/css/css_inline-block.asp */
    margin-top: 20px;
    display: inline-block;
    width: auto;
}

.content .line {
    display: block;
    font-size: 23px;
    line-height: 2;
    z-index: 100;
}

.content .line .quad {
    z-index: 101;
}
